doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css")

    script(src="/vendors/jquery-2.1.4.min.js")
    script(src="/vendors/handlebars-v4.0.2.js")
    script(src="/vendors/bootstrap.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js")
    script(src="/vendors/timeago.js")
    script(src="/scripts/main.js")
  body
    block content